[Unit]
Description=BIGPI FHE APLUSB microservice

[Service]
User=bigpi
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/deployment/dmp/fhe
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/usr/bin/java -Xms512m -Xmx512m -Dspring.profiles.active=prod -Djava.net.preferIPv4Stack=true -jar /opt/deployment/dmp/fhe/client-service.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

