<h2  style="color: cadetblue;">Dashboard - Demonstration</h2>
<p style="color: red;"> This funtion is not implemented yet in the beta version! We need more baguettes, coffee and time..... </p>

<br>

<div #gaugeChart style="width: 400px; height: 120px; margin: 0 auto;"> </div>
<h3 style="text-align: center; color: orange;">Server Monitoring</h3>

<br><hr><br>

<div echarts [options]="options3" class="demo-chart"></div>
<h3 style="text-align: center; color: cornflowerblue;">Sales Report</h3>

<br><hr><br>

<div #pieChart style="width: 400px; height: 400px; margin: 0 auto;"> </div>
<h3 style="text-align: center; color: darkgreen;">3D Pie Chart</h3>

<!-- <div echarts [options]="options2 | async" class="demo-chart-600"></div> -->

<!-- <div id="chart_div" style="width: 400px; height: 120px;"></div> -->

<!-- <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options2"
    [width]="width" [height]="height"> </google-chart> -->

<!-- <google-chart #googleGaugeChart > </google-chart> -->

