<!-- 1st version -->
<mat-card style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="activebutton">

    <mat-card-header>
        <img mat-card-avatar src="https://i.pinimg.com/736x/a8/29/ef/a829efec992eaf2d2b03c29e71de8ba3.jpg">
        <mat-card-title>{{post.name}}</mat-card-title>
        <mat-card-subtitle>Admin</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="post.imagePath" alt="{{post.name}}" class="img-responsive" width="500" height="300"
        style="float: left; margin-right: 10px;">

    <mat-card-content>
        <quill-view-html [content]="post.description" format="text" theme="snow"></quill-view-html>
    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

        <button mat-icon-button (click)="onEditPost()">
            <mat-icon>mode_edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDeletePost()">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-card-actions>

</mat-card>


<!-- 2nd version -->
<!-- <div class="mat-card" style="width: 18rem;">

    <div class="bestseller">
        <img mat-card-image class="img-fluid" [src]="post.imagePath" alt="{{post.name}}" class="img-responsive">
    </div>

    <mat-card-title><h3>{{post.name}}</h3></mat-card-title>

    <mat-card-content>
        <p>{{post.description}}</p>
    </mat-card-content>

    <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>

    <a style="cursor: pointer;" class="mat-card-actions" [routerLink]="[index]" routerLinkActive="activebutton">
        Purchase</a>

</div> -->


<!-- 3rd version -->
<!-- <mat-card style="cursor: pointer;" fxLayout="column" fxFlex.md="0 1 calc(25% - 20px)" fxFlex="0 1 calc(20% - 20px)"
    fxFlex.sm="0 1 calc(33% - 20px)" fxFlex.xs="100" class="post" [routerLink]="[index]"
    routerLinkActive="activebutton">
    <div class="bestseller">
        <img mat-card-image [src]="post.imagePath" alt="photo">
    </div>

    <mat-card-title style="margin: 0px;">{{post.name | slice:0:21}}</mat-card-title>
    <span style="text-align: right">
        <mat-card-subtitle style="text-align: right; margin: 0px;">
            {{post.price}} &euro;
        </mat-card-subtitle>
    </span>

    <div class="ql-editor" style="padding: 0; padding-bottom: 0;" [innerHTML]="post.description | slice:0:88">
    </div>

    <mat-card-actions fxFlexAlign="end" align="end">

        <button mat-icon-button (click)="onEditPost()">
            <mat-icon>mode_edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onDeletePost()">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-card-actions>

</mat-card> -->