<mat-toolbar>
    <mat-toolbar-row>

        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

        <a routerLink="/products">
            E-Market Place
        </a>

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <a class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-wrench" viewBox="0 0 16 16">
                        <path
                            d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data
                            (Firebase)</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data
                            (Firebase)</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getData()">Fetch Data (Back End)</a>
                    </li>
                </ul>
            </a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<!-- <nav class="navbar navbar-default main-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">E Market Place</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Main</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Crypto task List</a></li>

                <li routerLinkActive="active"><a routerLink="/blog">Edit</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- <mat-toolbar>
    <span class="navbar-header">
        <a href="#" class="navbar-brand">E Market Place</a>
    </span>

    <span class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/recipes">Main</a></li>
            <li routerLinkActive="active"><a routerLink="/shopping-list">Crypto task List</a></li>

            <li routerLinkActive="active"><a routerLink="/blog">Edit</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;">Save Data</a></li>
                    <li><a style="cursor: pointer;">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </span>
</mat-toolbar> -->