mat-toolbar {
    background-color: #e2e2e2; 
}

.main-header {
    /* position: fixed;
    top: 0; */
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width: 100%;
    /* z-index: 1; */
    /* height: 50px; */
    /* padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 10px; */
    box-shadow: 0 0px 0px rgba(0, 0, 0, .28), 0 2px 6px rgba(0, 0, 0, .23);
}


a:link, a:visited {
    /* background-color: #000000; */
    color: rgb(0, 0, 0);
    /* padding: 15px 25px; */  
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

mat-toolbar {
    min-height: 30px !important; 
    height: 50px !important;
}

/* mat-toolbar-row {
    min-height: 30px !important; 
    height: 50px !important;
} */